body {
  margin: 0;
  padding: 0;
}

header {
  background: #ffffff;
  border-bottom: 2px grey solid;
  height: 86px;
  line-height: 86px;
}

.header {
  /* overflow: auto to clear the floating after the header */
  overflow: auto;
  margin: 0 300px;
  width: 960px;
  height: 86px;
}

.header > h1 {
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background: #4aaaa5;
  margin: 0;
  height: 100%;
  width: 300px;
  /* to center the name vertically and horizantally in h1 */
  text-align: center;
  vertical-align: middle;
}

nav {
  float: right;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: 0;
}

nav > a {
  color: #9fadc1;
  text-decoration: none;
  padding: 0 15px;
  border-right: 1px #9fadc1 solid;
  font-size: 20px;
}

nav > a:hover {
  color: #4aaaa5;
}

#contact {
  /* to remove the horizental line right to contact nav menue */
  border-right: 0;
}

section {
  position: fixed;
  left: 0;
  bottom: 80px;
  top: 88px;
  background-image: url("../images/grey-texture.jpg");
  width: 100%;
  overflow: auto;
}

footer {
  position: fixed;
  background: #666666;
  color: #979c9b;
  text-align: center;
  height: 80px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 8px #4aaaa5 solid;
}

span {
  position: absolute;
  bottom: 0;
}

.content {
  position: absolute;
  top: 6%;
  right: 300px;
  left: 300px;
  width: 960px;
  background-color: white;
  margin-bottom: 50px;
  color: #928d97;
  border: 0.5px rgb(196, 196, 196) solid;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 38px;
  overflow: auto;
}

.content-por {
  position: absolute;
  top: 6%;
  right: 300px;
  left: 300px;
  width: 960px;
  background-color: white;
  margin-bottom: 50px;
  height: 800px;
  color: #928d97;
  border: 0.5px rgb(196, 196, 196) solid;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 38px;
}

.content > h1 {
  color: #4aaaa5;
  border-bottom: 2px #e8e8e8 solid;
  height: 100px;
  margin: 0 28px;
  vertical-align: middle;
  line-height: 100px;
}

.content-por > h1 {
  color: #4aaaa5;
  border-bottom: 2px #e8e8e8 solid;
  height: 100px;
  margin: 0 28px;
  vertical-align: middle;
  line-height: 100px;
}

.fix {
  margin: 0 28px;
  overflow: auto;
}

#index-img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
}

#pp {
  margin-top: 0;
}

#p1,
#p2 {
  margin: 0 28px;
}

#p2 {
  margin-bottom: 20px;
}

#submit {
  background: #4aaaa5;
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  margin-bottom: 20px;
}

#submit:hover {
  background: #285c59;
}

.form {
  margin: 0 28px;
}

.form > input,
textarea {
  width: 100%;
}

.form > textarea {
  height: 100px;
}

.port-images > img {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
}

.port-images {
  overflow: auto;
}

#por-img1 {
  position: absolute;
}

#por-p1 {
  position: absolute;
  margin: 0;
  top: 290px;
  z-index: 3;
  background: #4aaaa5;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
}

#por-img2 {
  position: absolute;
  top: 140px;
  left: 243px;
}

#por-p2 {
  position: absolute;
  margin: 0;
  top: 290px;
  left: 243px;
  z-index: 3;
  background: #4aaaa5;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
}

#por-img3 {
  position: absolute;
  top: 354px;
}

#por-p3 {
  position: absolute;
  margin: 0;
  top: 504px;
  z-index: 3;
  background: #4aaaa5;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
}

#por-img4 {
  position: absolute;
  top: 354px;
  left: 243px;
}

#por-p4 {
  position: absolute;
  margin: 0;
  top: 504px;
  left: 243px;
  z-index: 3;
  background: #4aaaa5;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
}

#por-img5 {
  position: absolute;
  top: 569px;
}

#por-p5 {
  position: absolute;
  margin: 0;
  top: 719px;
  z-index: 3;
  background: #4aaaa5;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
}
/* for screen size between 641px to 768px */
@media screen and (min-width: 641px) and (max-width: 768px) {
  .header {
    margin: 0 30px;
    padding: 0;
    width: auto;
  }

  .header h1 {
    float: left;
    height: 100%;
    width: auto;
    padding: 0 20px;
    font-size: 1.5em;
  }

  nav {
    float: right;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin: 0;
    font-size: 0.5em;
  }

  nav > a {
    padding: 0 10px;
  }
  .content-por {
    right: 29.5px;
    left: 29.5px;
    width: auto;
    height: auto;
  }

  .port-images img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 47%;
    height: auto;
  }

  .fix.port-images {
    padding: 0 0 30px 0;
    margin: 0 28px;
    overflow: auto;
  }

  #por-img1 {
    position: static;
  }

  #por-img2 {
    position: static;
  }

  #por-img3 {
    position: static;
  }
  #por-img4 {
    position: static;
  }

  #por-img5 {
    position: static;
  }

  #por-p1 {
    width: 42%;
    top: 35%;
  }

  #por-p2 {
    width: 42%;
    left: 50%;
    top: 35%;
  }

  #por-p3 {
    width: 42%;
    top: 62%;
  }

  #por-p4 {
    width: 42%;
    left: 50%;
    top: 62%;
  }

  #por-p5 {
    width: 42%;
    top: 89%;
  }

  .content {
    right: 29.5px;
    left: 29.5px;
    width: auto;
  }

  #index-img {
    width: auto;
    margin-bottom: 0;
  }
}
/* for screen size less than or equal 640px */
@media screen and (max-width: 640px) {
  .header h1 {
    float: none;
    height: 50%;
    line-height: 142%;
    width: 100%;
  }

  .header {
    margin: 0;
    padding: 0;
    width: auto;
  }

  nav {
    float: none;
    height: 50%;
    line-height: 247%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav > a {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .content {
    position: absolute;
    top: 6%;
    right: 30px;
    left: 30px;
    width: auto;
    background-color: white;
    margin-bottom: 50px;
    color: #928d97;
    border: 0.5px rgb(196, 196, 196) solid;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 38px;
    overflow: auto;
  }

  #index-img {
    width: 100%;
    height: 100%;
  }

  /* this class for portfolio.html only */
  .content-por {
    position: absolute;
    top: 6%;
    right: 30px;
    left: 30px;
    width: auto;
    height: auto;
    background-color: white;
    margin-bottom: 50px;
    color: #928d97;
    border: 0.5px rgb(196, 196, 196) solid;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 38px;
  }

  .port-images img {
    /* display: none; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    /* overflow: auto; */
  }

  .fix.port-images {
    padding: 0;
    margin: 0 28px;
  }

  #por-img1 {
    position: static;
  }

  #por-p1 {
    position: relative;
    margin: 0;
    padding: 0;
    top: -60px;
    z-index: 3;
    background: #4aaaa5;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #por-img2 {
    position: static;
  }

  #por-p2 {
    position: relative;
    margin: 0;
    padding: 0;
    top: -60px;
    left: 0;
    z-index: 3;
    background: #4aaaa5;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #por-img3 {
    position: static;
  }

  #por-p3 {
    position: relative;
    margin: 0;
    padding: 0;
    top: -60px;
    z-index: 3;
    background: #4aaaa5;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #por-img4 {
    position: static;
  }

  #por-p4 {
    position: relative;
    margin: 0;
    padding: 0;
    top: -60px;
    left: 0;
    z-index: 3;
    background: #4aaaa5;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #por-img5 {
    position: static;
  }

  #por-p5 {
    position: relative;
    margin: 0;
    padding: 0;
    top: -60px;
    z-index: 3;
    background: #4aaaa5;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
  }
}
/* for screen size more than 980px */
@media screen and (min-width: 980px) {
  .header {
    margin: 0 30px;
    padding: 0;
    width: auto;
  }

  .header h1 {
    float: left;
    height: 100%;
    width: auto;
    padding: 0 20px;
    font-size: 1.5em;
  }

  nav {
    float: right;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin: 0;
    font-size: 0.5em;
  }

  nav > a {
    padding: 0 10px;
  }

  .content-por {
    left: 29.5px;
    width: auto;
    height: auto;
  }

  .port-images img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 47%;
    height: auto;
  }

  .fix.port-images {
    padding: 0 0 30px 0;
    margin: 0 28px;

    overflow: auto;
  }

  #por-img1 {
    position: static;
  }

  #por-img2 {
    position: static;
  }

  #por-img3 {
    position: static;
  }
  #por-img4 {
    position: static;
  }

  #por-img5 {
    position: static;
  }

  #por-p1 {
    width: 42.8%;
    top: 35%;
  }

  #por-p2 {
    width: 42.8%;
    left: 49.6%;
    top: 35%;
  }

  #por-p3 {
    width: 42.8%;
    top: 62%;
  }

  #por-p4 {
    width: 42.8%;
    left: 49.6%;
    top: 62%;
  }

  #por-p5 {
    width: 42.8%;
    top: 90%;
  }

  .content {
    left: 29.5px;
    width: auto;
  }

  #index-img {
    width: auto;
    margin-bottom: 0;
  }
}
